
<body>

	<div class="loader">
		<div class="span">
			<div class="location_indicator"></div>
		</div>
	</div>
	<!--
				Loader End
-->
	<!--
			Mobile Menu Start
-->

	<!--
			Wrapper Start
-->
	<div id="tg-wrapper" class="tg-wrapper tg-haslayout">
		<!--
				Header Start
	-->
<app-menu></app-menu>
		<!--
				Inner Banner Start
	-->
		<section class="tg-parallax tg-innerbanner" data-appear-top-offset="600" data-parallax="scroll" data-image-src="/assets/images/parallax/bgparallax-05.jpg">
			<div class="tg-sectionspace tg-haslayout">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<h1>FAQ’s</h1>
							<h2>Donec id elit non mi porta gravida at eget metus</h2>
							<ol class="tg-breadcrumb">
								<li><a routerLink="/">Home</a></li>
								<li class="tg-active">FAQ</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--
				Inner Banner End
	-->
		<!--
				Main Start
	-->
		<main id="tg-main" class="tg-main tg-sectionspace tg-haslayout">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div id="tg-content" class="tg-content">
							<div class="tg-faqs">
								<div class="tg-item">
									<div class="tg-featuretitle">
										<h2><span>1. </span>How do I place an order?</h2>
									</div>
									<div class="tg-description">
										<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable.</p>
									</div>
								</div>
								<div class="tg-item">
									<div class="tg-featuretitle">
										<h2><span>2. </span>How do I place an order?</h2>
									</div>
									<div class="tg-description">
										<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable.</p>
										<ol>
											<li>The point of using Lorem Ipsum is that it has a more-or-less opposed to using 'Content here, content here', making it look like readable.</li>
											<li>English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, on purpose (injected humour and the like).</li>
											<li>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.</li>
											<li>need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet.</li>
										</ol>
									</div>
								</div>
								<div class="tg-item">
									<div class="tg-featuretitle">
										<h2><span>3. </span>How do I place an order?</h2>
									</div>
									<div class="tg-description">
										<p>Ut enim ad minima veniam, quis nostrum exercitationem.</p>
										<p>laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>
									</div>
								</div>
								<div class="tg-item">
									<div class="tg-featuretitle">
										<h2><span>4. </span>How do I place an order?</h2>
									</div>
									<div class="tg-description">
										<p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>
										<ol>
											<li>making this the first true generator on the Internet.</li>
											<li>It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable.</li>
											<li>therefore always free from repetition, injected humour, or non-characteristic words etc.</li>
											<li>need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet.</li>
										</ol>
									</div>
								</div>
								<div class="tg-item">
									<div class="tg-featuretitle">
										<h2><span>5. </span>How do I place an order?</h2>
									</div>
									<div class="tg-description">
										<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum"</p>
									</div>
								</div>
								<div class="tg-item">
									<div class="tg-featuretitle">
										<h2><span>6. </span>How do I place an order?</h2>
									</div>
									<div class="tg-description">
										<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
									</div>
								</div>
								<div class="tg-item">
									<div class="tg-featuretitle">
										<h2><span>7. </span>How do I place an order?</h2>
									</div>
									<div class="tg-description">
										<p>"But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself,</p>
										<p>because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
    <section class="tg-sectionspace tg-haslayout tg-bglight">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

              <div class="tg-sectionhead">
                <div class="tg-sectiontitle">
                  <h2>Need Help?</h2>
                </div>
                <div class="tg-description">
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam consectetuer.</p>
                </div>
              </div>
              <div id="tg-accordion" class="tg-accordion" role="tablist" aria-multiselectable="true">
                <div class="tg-panel">
                  <h4>Ornare Quam Justo Tellusv</h4>
                  <div class="tg-panelcontent">
                    <div class="tg-description">
                      <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Vivamus sagittis lacus vel augue Sed non mauris vitae;erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo.</p>
                    </div>
                  </div>
                </div>
                <div class="tg-panel">
                  <h4>A work of art is above all an adventure of mind!</h4>
                  <div class="tg-panelcontent">
                    <div class="tg-description">
                      <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Vivamus sagittis lacus vel augue Sed non mauris vitae;erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo.</p>
                    </div>
                  </div>
                </div>
                <div class="tg-panel">
                  <h4>Pharetra Etiam Inceptos</h4>
                  <div class="tg-panelcontent">
                    <div class="tg-description">
                      <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Vivamus sagittis lacus vel augue Sed non mauris vitae;erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo.</p>
                    </div>
                  </div>
                </div>
                <div class="tg-panel">
                  <h4>We pride ourselves on innovative.</h4>
                  <div class="tg-panelcontent">
                    <div class="tg-description">
                      <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Vivamus sagittis lacus vel augue Sed non mauris vitae;erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo.</p>
                    </div>
                  </div>
                </div>
              </div>

          </div>
        </div>
      </div>
    </section>
		<!--
				Main End
	-->
		<!--
				Footer Start
	-->
<app-footer></app-footer>
	</div>
	<!--
			Wrapper End
-->
	<!--
			Search Start
-->
	<div id="tg-search" class="tg-search">
		<button type="button" class="close"><i class="icon-cross"></i></button>
		<form>
			<fieldset>
				<div class="form-group">
					<input type="search" name="search" class="form-control" value="" placeholder="search here">
					<button type="submit" class="tg-btn"><span class="icon-search2"></span></button>
				</div>
			</fieldset>
		</form>
		<ul class="tg-destinations">
			<li>
				<a href="javascript:void(0);">
					<h3>Europe</h3>
					<em>(05)</em>
				</a>
			</li>
			<li>
				<a href="javascript:void(0);">
					<h3>Africa</h3>
					<em>(15)</em>
				</a>
			</li>
			<li>
				<a href="javascript:void(0);">
					<h3>Asia</h3>
					<em>(12)</em>
				</a>
			</li>
			<li>
				<a href="javascript:void(0);">
					<h3>Oceania</h3>
					<em>(02)</em>
				</a>
			</li>
			<li>
				<a href="javascript:void(0);">
					<h3>North America</h3>
					<em>(08)</em>
				</a>
			</li>
		</ul>
	</div>
	<!--
			Search End
-->

</body>
