
<body>
	<!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
	<!--************************************
				Loader Start
	*************************************-->
	<div class="loader">
		<div class="span">
			<div class="location_indicator"></div>
		</div>
	</div>
	<!--************************************
				Loader End
	*************************************-->
	<!--************************************
			Mobile Menu Start
	*************************************-->

	<!--************************************
			Wrapper Start
	*************************************-->
	<div id="tg-wrapper" class="tg-wrapper tg-haslayout">
		<!--************************************
				Header Start
		*************************************-->
<app-menu></app-menu>
		<!--************************************
				Inner Banner Start
		*************************************-->
		<section class="tg-parallax tg-innerbanner" data-appear-top-offset="600" data-parallax="scroll" data-image-src="assets/images/parallax/bgparallax-05.jpg">
			<div class="tg-sectionspace tg-haslayout">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<h1>Nous-contactez</h1>
							<h2>228TRANSFERS</h2>
							<ol class="tg-breadcrumb">
								<li><a routerLink="/">Home</a></li>
								<li class="tg-active">Contact</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
		</section>
    <section class="tg-aboutus">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="row">
          <figure data-vide-bg="poster: /assets/images/img-01.jpg" data-vide-options="position: 0% 50%"></figure>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="row">
          <div class="tg-textbox">
            <div class="tg-sectiontitle">
              <h2>A propos</h2>
            </div>
            <div class="tg-description">
              <p>when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
              <p>Electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 pull-right">
        <div class="row">
          <figure data-vide-bg="poster: /assets/images/img-02.jpg" data-vide-options="position: 0% 50%"></figure>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 pull-left">
        <div class="row">
          <div class="tg-textbox">
            <div class="tg-sectiontitle">
              <h2>Description</h2>
            </div>
            <div class="tg-description">
              <p>when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
              <p>Electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
		<!--************************************
				Inner Banner End
		*************************************-->
		<!--************************************
				Main Start
		*************************************-->
		<main id="tg-main" class="tg-main tg-sectionspace tg-haslayout">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div id="tg-content" class="tg-content">
							<ul class="tg-contactinfo">
								<li>
									<span class="tg-contactinfoicon"><i class="fa fa-commenting-o"></i></span>
									<h2>Get in Touch</h2>
									<span>Telephone: +51 900 321 4564</span>
									<span>Mobile: +501 860 3210</span>
									<strong><a href="mailto:hello@Travleu.com">hello@Travleu.com</a></strong>
								</li>
								<li>
									<span class="tg-contactinfoicon"><i class="icon-map-marker"></i></span>
									<h2>Visit Our Location</h2>
									<address>Manhatta Hall Veerpolder 7 2361 Empor Ltd 1258, Melbourne, Australia</address>
									<strong><a href="javascript:void(0);">Get Directions</a></strong>
								</li>
								<li>
									<span class="tg-contactinfoicon"><i class="icon-briefcase"></i></span>
									<h2>Looking for a career?</h2>
									<div class="tg-description"><p>perspiciatis unde omnis iste natus error sit voluptatem accusantium.</p></div>
									<strong><a href="mailto:careers@travleu.com">careers@travleu.com</a></strong>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</main>
		<!--************************************
				Main End
		*************************************-->
		<!--************************************
				Footer Start
		*************************************-->
<app-footer></app-footer>
	</div>
	<!--************************************
			Wrapper End
	*************************************-->
	<!--************************************
			Search Start
	*************************************-->
	<div id="tg-search" class="tg-search">
		<button type="button" class="close"><i class="icon-cross"></i></button>
		<form>
			<fieldset>
				<div class="form-group">
					<input type="search" name="search" class="form-control" value="" placeholder="search here">
					<button type="submit" class="tg-btn"><span class="icon-search2"></span></button>
				</div>
			</fieldset>
		</form>
		<ul class="tg-destinations">
			<li>
				<a href="javascript:void(0);">
					<h3>Europe</h3>
					<em>(05)</em>
				</a>
			</li>
			<li>
				<a href="javascript:void(0);">
					<h3>Africa</h3>
					<em>(15)</em>
				</a>
			</li>
			<li>
				<a href="javascript:void(0);">
					<h3>Asia</h3>
					<em>(12)</em>
				</a>
			</li>
			<li>
				<a href="javascript:void(0);">
					<h3>Oceania</h3>
					<em>(02)</em>
				</a>
			</li>
			<li>
				<a href="javascript:void(0);">
					<h3>North America</h3>
					<em>(08)</em>
				</a>
			</li>
		</ul>
	</div>
	<!--************************************
			Search End
	*************************************-->

</body>
