
<body>
	<!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
	<!--
				Loader Start
	-->
	<div class="loader">
		<div class="span">
			<div class="location_indicator"></div>
		</div>
	</div>
	<!--
			Mobile Menu Start
	-->
	<!--
			Wrapper Start
	-->
	<div id="tg-wrapper" class="tg-wrapper tg-haslayout">
		<!--
				Header Start
		-->
    <app-menu></app-menu>

		<!--
				Inner Banner Start
		-->
		<section class="tg-parallax tg-innerbanner" data-appear-top-offset="600" data-parallax="scroll" data-image-src="/assets/images/parallax/bgparallax-06.jpg">
			<div class="tg-sectionspace tg-haslayout">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<h1>Destinations</h1>
							<h2>Decouvrez le charme touristique avec 228TRANSFERS</h2>
							<ol class="tg-breadcrumb">
								<li><a routerLink="/">Home</a></li>
								<li class="tg-active">Destinations</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--
				Inner Banner End
		-->
		<!--
				Main Start
		-->
		<main id="tg-main" class="tg-main tg-sectionspace tg-haslayout">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div id="tg-content" class="tg-content">
							<div class="tg-topdestinations">
								<div class="row">
									<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
										<div class="tg-topdestination">
											<figure>
												<a href="listingvone.html" class="tg-btnviewall">Plus</a>
												<a href="listingvone.html"><img src="/assets/images/tours/img-15.jpg" alt="image description"></a>
												<figcaption>
													<h2><a href="listingvone.html">LYON LES ARCS</a></h2>
													<span class="tg-totaltours">228TRANSFERS</span>
												</figcaption>
											</figure>
										</div>
									</div>
									<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
										<div class="tg-topdestination">
											<figure>
												<a href="listingvtwo.html" class="tg-btnviewall">Plus</a>
												<a href="listingvtwo.html"><img src="/assets/images/tours/img-36.jpg" alt="image description"></a>
												<figcaption>
													<h2><a href="listingvtwo.html">LYON CHAMROUSSE</a></h2>
													<span class="tg-totaltours">228TRANSFERS</span>
												</figcaption>
											</figure>
										</div>
									</div>
									<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
										<div class="tg-topdestination">
											<figure>
												<a href="listingvthree.html" class="tg-btnviewall">Plus</a>
												<a href="listingvthree.html"><img src="/assets/images/tours/img-18.jpg" alt="image description"></a>
												<figcaption>
													<h2><a href="listingvthree.html">LYON VERCOS</a></h2>
													<span class="tg-totaltours">228TRANSFERS</span>
												</figcaption>
											</figure>
										</div>
									</div>
									<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
										<div class="tg-topdestination">
											<figure>
												<a href="listingvfour.html" class="tg-btnviewall">Plus</a>
												<a href="listingvfour.html"><img src="/assets/images/tours/img-37.jpg" alt="image description"></a>
												<figcaption>
													<h2><a href="listingvfour.html">LYON VALMOREL</a></h2>
													<span class="tg-totaltours">228TRANSFERS</span>
												</figcaption>
											</figure>
										</div>
									</div>
									<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
										<div class="tg-topdestination">
											<figure>
												<a href="listingvfive.html" class="tg-btnviewall">Plus</a>
												<a href="listingvfive.html"><img src="/assets/images/tours/img-38.jpg" alt="image description"></a>
												<figcaption>
													<h2><a href="listingvfive.html">LYON TIGNES</a></h2>
													<span class="tg-totaltours">228TRANSFERS</span>
												</figcaption>
											</figure>
										</div>
									</div>
									<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
										<div class="tg-topdestination">
											<figure>
												<a href="listingvsix.html" class="tg-btnviewall">Plus</a>
												<a href="listingvsix.html"><img src="/assets/images/tours/img-39.jpg" alt="image description"></a>
												<figcaption>
													<h2><a href="listingvsix.html">LYON MERIBEL</a></h2>
													<span class="tg-totaltours">228TRANSFERS</span>
												</figcaption>
											</figure>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
		<!--
				Main End
		-->
		<!--
				Footer Start
		-->
    <app-footer></app-footer>

	</div>
	<!--
			Wrapper End
	-->
	<!--
			Search Start
	-->
	<div id="tg-search" class="tg-search">
		<button type="button" class="close"><i class="icon-cross"></i></button>
		<form>
			<fieldset>
				<div class="form-group">
					<input type="search" name="search" class="form-control" value="" placeholder="search here">
					<button type="submit" class="tg-btn"><span class="icon-search2"></span></button>
				</div>
			</fieldset>
		</form>
		<ul class="tg-destinations">
			<li>
				<a href="javascript:void(0);">
					<h3>Europe</h3>
					<em>(05)</em>
				</a>
			</li>
			<li>
				<a href="javascript:void(0);">
					<h3>Africa</h3>
					<em>(15)</em>
				</a>
			</li>
			<li>
				<a href="javascript:void(0);">
					<h3>Asia</h3>
					<em>(12)</em>
				</a>
			</li>
			<li>
				<a href="javascript:void(0);">
					<h3>Oceania</h3>
					<em>(02)</em>
				</a>
			</li>
			<li>
				<a href="javascript:void(0);">
					<h3>North America</h3>
					<em>(08)</em>
				</a>
			</li>
		</ul>
	</div>
	<!--
			Search End
	-->
</body>

