
<body>
  <!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
	<!--
				Loader Start
	-->
	<div class="loader">
		<div class="span">
			<div class="location_indicator"></div>
		</div>
	</div>
	<!--
				Loader End
	-->
	<!--
			Mobile Menu Start
	-->

	<!--
			Wrapper Start
	-->
	<div id="tg-wrapper" class="tg-wrapper tg-haslayout">
		<!--
				Header Start
		-->
<app-menu></app-menu>
		<!--
				Header End
		-->
		<!--
				Inner Banner Start
		-->
		<section class="tg-parallax tg-innerbanner" data-appear-top-offset="600" data-parallax="scroll" data-image-src="/assets/images/parallax/bgparallax-05.jpg">
			<div class="tg-sectionspace tg-haslayout">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<h1>Nos Articles</h1>
							<h2>Decouvrez de nouveaux horizons avec 228TRANSFERS</h2>
							<ol class="tg-breadcrumb">
								<li><a href="/">Home</a></li>
								<li class="tg-active">Nos Articles</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--
				Inner Banner End
		-->
		<!--
				Main Start
		-->
		<main id="tg-main" class="tg-main tg-sectionspace tg-haslayout">
			<div class="container-fluid">
				<div class="row">
					<div class="tg-posts tg-blogposts">
						<article class="tg-post tg-verticaltop">
							<figure><a href="blogdetail.html"><img src="/assets/images/blog/img-05.jpg" alt="image description"></a></figure>
							<div class="tg-postcontent">
								<div class="tg-postcontenthead">
									<div class="tg-author">
										<a href="javascript:void(0);"><img src="/assets/images/author/img-01.jpg" alt="image description"></a>
										<span>Johny bravo</span>
									</div>
									<time class="tg-date" datetime="2017-06-12">15-01-2017</time>
								</div>
								<div class="tg-posttitle">
									<h2><a href="blogdetail.html">The Healing Power of Adaptogens</a></h2>
								</div>
								<div class="tg-description">
									<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its distribution of letters...</p>
								</div>
								<a class="tg-btnreadmore" href="blogdetail.html">Read More</a>
							</div>
						</article>
						<article class="tg-post tg-verticaltop">
							<figure><a href="blogdetail.html"><img src="/assets/images/blog/img-06.jpg" alt="image description"></a></figure>
							<div class="tg-postcontent">
								<div class="tg-postcontenthead">
									<div class="tg-author">
										<a href="javascript:void(0);"><img src="/assets/images/author/img-01.jpg" alt="image description"></a>
										<span>Johny bravo</span>
									</div>
									<time class="tg-date" datetime="2017-06-12">15-01-2017</time>
								</div>
								<div class="tg-posttitle">
									<h2><a href="blogdetail.html">New level of the Shop</a></h2>
								</div>
								<div class="tg-description">
									<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its distribution of letters...</p>
								</div>
								<a class="tg-btnreadmore" href="blogdetail.html">Read More</a>
							</div>
						</article>
						<article class="tg-post tg-verticaltop">
							<figure><a href="blogdetail.html"><img src="/assets/images/blog/img-07.jpg" alt="image description"></a></figure>
							<div class="tg-postcontent">
								<div class="tg-postcontenthead">
									<div class="tg-author">
										<a href="javascript:void(0);"><img src="/assets/images/author/img-01.jpg" alt="image description"></a>
										<span>Johny bravo</span>
									</div>
									<time class="tg-date" datetime="2017-06-12">15-01-2017</time>
								</div>
								<div class="tg-posttitle">
									<h2><a href="blogdetail.html">Title With Special Characters</a></h2>
								</div>
								<div class="tg-description">
									<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its distribution of letters...</p>
								</div>
								<a class="tg-btnreadmore" href="blogdetail.html">Read More</a>
							</div>
						</article>
						<article class="tg-post tg-verticaltop">
							<figure><a href="blogdetail.html"><img src="/assets/images/blog/img-08.jpg" alt="image description"></a></figure>
							<div class="tg-postcontent">
								<div class="tg-postcontenthead">
									<div class="tg-author">
										<a href="javascript:void(0);"><img src="/assets/images/author/img-01.jpg" alt="image description"></a>
										<span>Johny bravo</span>
									</div>
									<time class="tg-date" datetime="2017-06-12">15-01-2017</time>
								</div>
								<div class="tg-posttitle">
									<h2><a href="blogdetail.html">Why It’s Never The Perfect Time To Travel</a></h2>
								</div>
								<div class="tg-description">
									<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its distribution of letters...</p>
								</div>
								<a class="tg-btnreadmore" href="blogdetail.html">Read More</a>
							</div>
						</article>
						<article class="tg-post tg-verticaltop">
							<figure><a href="blogdetail.html"><img src="/assets/images/blog/img-09.jpg" alt="image description"></a></figure>
							<div class="tg-postcontent">
								<div class="tg-postcontenthead">
									<div class="tg-author">
										<a href="javascript:void(0);"><img src="/assets/images/author/img-01.jpg" alt="image description"></a>
										<span>Johny bravo</span>
									</div>
									<time class="tg-date" datetime="2017-06-12">15-01-2017</time>
								</div>
								<div class="tg-posttitle">
									<h2><a href="blogdetail.html">The Epitome of Symbiosis</a></h2>
								</div>
								<div class="tg-description">
									<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its distribution of letters...</p>
								</div>
								<a class="tg-btnreadmore" href="blogdetail.html">Read More</a>
							</div>
						</article>
						<article class="tg-post tg-verticaltop">
							<figure><a href="blogdetail.html"><img src="/assets/images/blog/img-10.jpg" alt="image description"></a></figure>
							<div class="tg-postcontent">
								<div class="tg-postcontenthead">
									<div class="tg-author">
										<a href="javascript:void(0);"><img src="/assets/images/author/img-01.jpg" alt="image description"></a>
										<span>Johny bravo</span>
									</div>
									<time class="tg-date" datetime="2017-06-12">15-01-2017</time>
								</div>
								<div class="tg-posttitle">
									<h2><a href="blogdetail.html">New level of the Shop</a></h2>
								</div>
								<div class="tg-description">
									<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its distribution of letters...</p>
								</div>
								<a class="tg-btnreadmore" href="blogdetail.html">Read More</a>
							</div>
						</article>
						<article class="tg-post tg-verticaltop">
							<figure><a href="blogdetail.html"><img src="/assets/images/blog/img-11.jpg" alt="image description"></a></figure>
							<div class="tg-postcontent">
								<div class="tg-postcontenthead">
									<div class="tg-author">
										<a href="javascript:void(0);"><img src="/assets/images/author/img-01.jpg" alt="image description"></a>
										<span>Johny bravo</span>
									</div>
									<time class="tg-date" datetime="2017-06-12">15-01-2017</time>
								</div>
								<div class="tg-posttitle">
									<h2><a href="blogdetail.html">Engineers by day, dreamers by night</a></h2>
								</div>
								<div class="tg-description">
									<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its distribution of letters...</p>
								</div>
								<a class="tg-btnreadmore" href="blogdetail.html">Read More</a>
							</div>
						</article>
						<article class="tg-post tg-verticaltop">
							<figure><a href="blogdetail.html"><img src="/assets/images/blog/img-12.jpg" alt="image description"></a></figure>
							<div class="tg-postcontent">
								<div class="tg-postcontenthead">
									<div class="tg-author">
										<a href="javascript:void(0);"><img src="/assets/images/author/img-01.jpg" alt="image description"></a>
										<span>Johny bravo</span>
									</div>
									<time class="tg-date" datetime="2017-06-12">15-01-2017</time>
								</div>
								<div class="tg-posttitle">
									<h2><a href="blogdetail.html">Passionate about design</a></h2>
								</div>
								<div class="tg-description">
									<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its distribution of letters...</p>
								</div>
								<a class="tg-btnreadmore" href="blogdetail.html">Read More</a>
							</div>
						</article>
						<article class="tg-post tg-verticaltop">
							<figure><a href="blogdetail.html"><img src="/assets/images/blog/img-13.jpg" alt="image description"></a></figure>
							<div class="tg-postcontent">
								<div class="tg-postcontenthead">
									<div class="tg-author">
										<a href="javascript:void(0);"><img src="/assets/images/author/img-01.jpg" alt="image description"></a>
										<span>Johny bravo</span>
									</div>
									<time class="tg-date" datetime="2017-06-12">15-01-2017</time>
								</div>
								<div class="tg-posttitle">
									<h2><a href="blogdetail.html">The Healing Power of Adaptogens</a></h2>
								</div>
								<div class="tg-description">
									<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its distribution of letters...</p>
								</div>
								<a class="tg-btnreadmore" href="blogdetail.html">Read More</a>
							</div>
						</article>
						<article class="tg-post tg-verticaltop">
							<figure><a href="blogdetail.html"><img src="/assets/images/blog/img-14.jpg" alt="image description"></a></figure>
							<div class="tg-postcontent">
								<div class="tg-postcontenthead">
									<div class="tg-author">
										<a href="javascript:void(0);"><img src="/assets/images/author/img-01.jpg" alt="image description"></a>
										<span>Johny bravo</span>
									</div>
									<time class="tg-date" datetime="2017-06-12">15-01-2017</time>
								</div>
								<div class="tg-posttitle">
									<h2><a href="blogdetail.html">New level of the Shop</a></h2>
								</div>
								<div class="tg-description">
									<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its distribution of letters...</p>
								</div>
								<a class="tg-btnreadmore" href="blogdetail.html">Read More</a>
							</div>
						</article>
						<article class="tg-post tg-verticaltop">
							<figure><a href="blogdetail.html"><img src="/assets/images/blog/img-15.jpg" alt="image description"></a></figure>
							<div class="tg-postcontent">
								<div class="tg-postcontenthead">
									<div class="tg-author">
										<a href="javascript:void(0);"><img src="/assets/images/author/img-01.jpg" alt="image description"></a>
										<span>Johny bravo</span>
									</div>
									<time class="tg-date" datetime="2017-06-12">15-01-2017</time>
								</div>
								<div class="tg-posttitle">
									<h2><a href="blogdetail.html">Title With Special Characters</a></h2>
								</div>
								<div class="tg-description">
									<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its distribution of letters...</p>
								</div>
								<a class="tg-btnreadmore" href="blogdetail.html">Read More</a>
							</div>
						</article>
						<article class="tg-post tg-verticaltop">
							<figure><a href="blogdetail.html"><img src="/assets/images/blog/img-16.jpg" alt="image description"></a></figure>
							<div class="tg-postcontent">
								<div class="tg-postcontenthead">
									<div class="tg-author">
										<a href="javascript:void(0);"><img src="/assets/images/author/img-01.jpg" alt="image description"></a>
										<span>Johny bravo</span>
									</div>
									<time class="tg-date" datetime="2017-06-12">15-01-2017</time>
								</div>
								<div class="tg-posttitle">
									<h2><a href="blogdetail.html">Why It’s Never The Perfect Time To Travel</a></h2>
								</div>
								<div class="tg-description">
									<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its distribution of letters...</p>
								</div>
								<a class="tg-btnreadmore" href="blogdetail.html">Read More</a>
							</div>
						</article>
						<nav class="tg-pagination">
							<ul>
								<li class="tg-prevpage"><a href="javascript:void(0);"><i class="fa fa-angle-left"></i></a></li>
								<li class="tg-active"><a href="javascript:void(0);">1</a></li>
								<li><a href="javascript:void(0);">2</a></li>
								<li><a href="javascript:void(0);">3</a></li>
								<li><a href="javascript:void(0);">4</a></li>
								<li class="tg-nextpage"><a href="javascript:void(0);"><i class="fa fa-angle-right"></i></a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</main>
		<!--
				Main End
		-->
		<!--
				Footer Start
		-->
<app-footer></app-footer>
	</div>
	<!--
			Wrapper End
	-->
	<!--
			Search Start
	-->
	<div id="tg-search" class="tg-search">
		<button type="button" class="close"><i class="icon-cross"></i></button>
		<form>
			<fieldset>
				<div class="form-group">
					<input type="search" name="search" class="form-control" value="" placeholder="search here">
					<button type="submit" class="tg-btn"><span class="icon-search2"></span></button>
				</div>
			</fieldset>
		</form>
		<ul class="tg-destinations">
			<li>
				<a href="javascript:void(0);">
					<h3>Europe</h3>
					<em>(05)</em>
				</a>
			</li>
			<li>
				<a href="javascript:void(0);">
					<h3>Africa</h3>
					<em>(15)</em>
				</a>
			</li>
			<li>
				<a href="javascript:void(0);">
					<h3>Asia</h3>
					<em>(12)</em>
				</a>
			</li>
			<li>
				<a href="javascript:void(0);">
					<h3>Oceania</h3>
					<em>(02)</em>
				</a>
			</li>
			<li>
				<a href="javascript:void(0);">
					<h3>North America</h3>
					<em>(08)</em>
				</a>
			</li>
		</ul>
	</div>
	<!--
			Search End
	-->
</body>
