
<body class="tg-home tg-homevone">
	<!--Loader Start-->
	<div class="loader">
		<div class="span">
			<div class="location_indicator"></div>
		</div>
	</div>

	<!--Loader Start-->
	<div class="loader">
		<div class="span">
			<div class="location_indicator"></div>
		</div>
	</div>

	<!--Mobile Menu Start-->


	<!--Wrapper Start-->
	<div id="tg-wrapper" class="tg-wrapper tg-haslayout">
		<!--Header Start-->
<app-menu></app-menu>
		<!--Home Slider Start-->
		<div class="tg-bannerholder">
			<div class="tg-slidercontent">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<h1>228TRANSFERS</h1>
							<h2>RÉSERVATION TAXI DE LYON À BOURG SAINT-MAURICE</h2>
							<form class="tg-formtheme tg-formtrip">
								<fieldset>
									<div class="form-group">
										<div class="tg-select">
											<select class="selectpicker" data-live-search="true" data-width="100%">
												<option data-tokens="Destinations">Destinations</option>
												<option data-tokens="All Areas">All Areas</option>
												<option data-tokens="Bayonne">Bayonne</option>
												<option data-tokens="Greenville">Greenville</option>
												<option data-tokens="Manhattan">Manhattan</option>
												<option data-tokens="Queens">Queens</option>
												<option data-tokens="The Heights">The Heights</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<div class="tg-select">
											<select class="selectpicker" data-live-search="true" data-width="100%">
												<option data-tokens="Adventure Type">Adventure Type</option>
												<option data-tokens="Ice Adventure Vacations">Ice Adventure Vacations</option>
												<option data-tokens="National Park">National Park</option>
												<option data-tokens="Adult Vacations">Adult Vacations</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<div class="tg-select">
											<select class="selectpicker" data-live-search="true" data-width="100%">
												<option data-tokens="Travel Month">Travel Month</option>
												<option data-tokens="January">January</option>
												<option data-tokens="February">February</option>
												<option data-tokens="March">March</option>
												<option data-tokens="April">April</option>
												<option data-tokens="May">May</option>
												<option data-tokens="June">June</option>
												<option data-tokens="July">July</option>
												<option data-tokens="August">August</option>
												<option data-tokens="September">September</option>
												<option data-tokens="October">October</option>
												<option data-tokens="November">November</option>
												<option data-tokens="December">December</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<div class="tg-select">
											<select class="selectpicker" data-live-search="true" data-width="100%">
												<option data-tokens="Duration">Duration</option>
												<option data-tokens="2 weeks">2 weeks</option>
												<option data-tokens="3 weeks">3 weeks</option>
												<option data-tokens="4 weeks">4 weeks</option>
												<option data-tokens="5 weeks">5 weeks</option>
												<option data-tokens="6 weeks">6 weeks</option>
												<option data-tokens="7 weeks">7 weeks</option>
												<option data-tokens="8 weeks">8 weeks</option>
												<option data-tokens="9 weeks">9 weeks</option>
												<option data-tokens="10 weeks">10 weeks</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<button class="tg-btn" type="submit"><span>find tours</span></button>
									</div>
								</fieldset>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div id="tg-homeslider" class="tg-homeslider owl-carousel tg-haslayout">

				<figure class="item" data-vide-bg="poster: /assets/images/comingsoon-bg.jpg" data-vide-options="position: 0% 50%"></figure>
				<figure class="item" data-vide-bg="poster: /assets/images/img-02.jpg" data-vide-options="position: 0% 50%"></figure>
				<figure class="item" data-vide-bg="poster: /assets/images/blogdetail-img.jpg" data-vide-options="position: 0% 50%"></figure>
			</div>
		</div>
		<!--Main Start-->
		<main id="tg-main" class="tg-main tg-haslayout">
			<!--Advantures Start-->
			<section class="tg-sectionspace tg-haslayout">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="tg-toursdestinations">
								<div class="tg-tourdestination tg-tourdestinationbigbox">
									<figure>
										<a href="javascript:void(0);">
											<img src="/assets/images/destination/img-01.jpg" alt="image destinations">
											<div class="tg-hoverbox">
												<div class="tg-adventuretitle">
													<h2>Chamonix</h2>
												</div>
											</div>
										</a>
									</figure>
								</div>
								<div class="tg-tourdestination">
									<figure>
										<a href="javascript:void(0);">
											<img src="/assets/images/destination/img-02.jpg" alt="image destinations">
											<div class="tg-hoverbox">
												<div class="tg-adventuretitle">
													<h2>Les 2 Alpes</h2>
												</div>
											</div>
										</a>
									</figure>
								</div>
								<div class="tg-tourdestination">
									<figure>
										<a href="javascript:void(0);">
											<img src="/assets/images/destination/img-03.jpg" alt="image destinations">
											<div class="tg-hoverbox">
												<div class="tg-adventuretitle">
													<h2>Les Arcs</h2>
												</div>
											</div>
										</a>
									</figure>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<!--Features Start-->
			<section class="tg-sectionspace tg-zerotoppadding tg-haslayout">
				<div class="container">
					<div class="row">
						<div class="tg-features">
							<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
								<div class="tg-feature">
									<div class="tg-featuretitle">
										<h2><span>01</span>Destination de rêve</h2>
									</div>
									<div class="tg-description">
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh tempor cum soluta nobis consectetuer nihil imperdiet doming...</p>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
								<div class="tg-feature">
									<div class="tg-featuretitle">
										<h2><span>02</span>Chalet paisible</h2>
									</div>
									<div class="tg-description">
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh tempor cum soluta nobis consectetuer nihil imperdiet doming...</p>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
								<div class="tg-feature">
									<div class="tg-featuretitle">
										<h2><span>03</span>Chauffeur VTC</h2>
									</div>
									<div class="tg-description">
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh tempor cum soluta nobis consectetuer nihil imperdiet doming...</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<!--Popular Tour Start-->
			<section class="tg-parallax" data-appear-top-offset="600" data-parallax="scroll" data-image-src="/assets/images/parallax/bgparallax-01.jpg">
				<div class="tg-sectionspace tg-haslayout">
					<div class="container">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<div class="tg-sectiontitle tg-sectiontitleleft">
									<h2>Destinations</h2>
								</div>
								<div id="tg-populartoursslider" class="tg-populartoursslider tg-populartours owl-carousel">
									<div class="item tg-populartour">
										<figure>
											<a href="tourbookingdetail.html"><img src="/assets/images/tours/img-01.jpg" alt="image destinations"></a>

										</figure>
										<div class="tg-populartourcontent">
											<div class="tg-populartourtitle">
												<h3><a href="tourbookingdetail.html">LYON CHAMONIX</a></h3>
											</div>
											<div class="tg-description">
												<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh...</p>
											</div>
											<div class="tg-populartourfoot">
												<div class="tg-durationrating">
													<span class="tg-tourduration">7 Days</span>
													<span class="tg-stars"><span></span></span>
												</div>
												<div class="tg-pricearea">
													<span>from</span>
													<h4>$2,500</h4>
												</div>
											</div>
										</div>
									</div>
									<div class="item tg-populartour">
										<figure><a href="tourbookingdetail.html"><img src="/assets/images/tours/img-02.jpg" alt="image destinations"></a></figure>
										<div class="tg-populartourcontent">
											<div class="tg-populartourtitle">
												<h3><a href="tourbookingdetail.html">LYON VALMOREL</a></h3>
											</div>
											<div class="tg-description">
												<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh...</p>
											</div>
											<div class="tg-populartourfoot">
												<div class="tg-durationrating">
													<span class="tg-tourduration">7 Days</span>
													<span class="tg-stars"><span></span></span>
												</div>
												<div class="tg-pricearea">
													<span>from</span>
													<h4>$600</h4>
												</div>
											</div>
										</div>
									</div>
									<div class="item tg-populartour">
										<figure><a href="tourbookingdetail.html"><img src="/assets/images/tours/img-03.jpg" alt="image destinations"></a></figure>
										<div class="tg-populartourcontent">
											<div class="tg-populartourtitle">
												<h3><a href="tourbookingdetail.html">LYON LES ARCS</a></h3>
											</div>
											<div class="tg-description">
												<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh...</p>
											</div>
											<div class="tg-populartourfoot">
												<div class="tg-durationrating">
													<span class="tg-tourduration">7 Days</span>
													<span class="tg-stars"><span></span></span>
												</div>
												<div class="tg-pricearea">
													<span>from</span>
													<h4>$1,430</h4>
												</div>
											</div>
										</div>
									</div>
									<div class="item tg-populartour">
										<figure><a href="tourbookingdetail.html"><img src="/assets/images/tours/img-04.jpg" alt="image destinations"></a></figure>
										<div class="tg-populartourcontent">
											<div class="tg-populartourtitle">
												<h3><a href="tourbookingdetail.html">LYON LES 2ALPES</a></h3>
											</div>
											<div class="tg-description">
												<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh...</p>
											</div>
											<div class="tg-populartourfoot">
												<div class="tg-durationrating">
													<span class="tg-tourduration">7 Days</span>
													<span class="tg-stars"><span></span></span>
												</div>
												<div class="tg-pricearea">
													<span>from</span>
													<h4>$600</h4>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<!--Our Destination Start-->
			<section class="tg-sectionspace tg-haslayout">
				<div class="container">
					<div class="row">
						<div class="tg-ourdestination">
							<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 tg-verticalmiddle">
								<figure><img src="/assets/images/placeholder/placeholder-01.png" alt="image destinations"></figure>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 tg-verticalmiddle">
								<div class="tg-ourdestinationcontent">
									<div class="tg-sectiontitle tg-sectiontitleleft">
										<h2>Destinations</h2>
									</div>
									<div class="tg-description"><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam consectetuer adipiscing elit, sed diam nonummy nibh...</p></div>
									<a class="tg-btn" href="tourcatagory.html"><span>Nos destinations</span></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<!--Destination Start-->
			<section class="tg-sectionspace tg-zerotoppadding tg-haslayout">
				<div class="container">
					<div class="row">
						<div id="tg-destinationsslider" class="tg-destinationsslider tg-destinations owl-carousel">
							<div class="item tg-destination">
								<figure>
									<a href="tourbookingdetail.html"><img src="/assets/images/destination/img-04.jpg" alt="image description"></a>
									<figcaption>
										<h2><a href="tourbookingdetail.html">VALMOREL</a></h2>
										<div class="tg-description">

										</div>
									</figcaption>
								</figure>
							</div>
							<div class="item tg-destination">
								<figure>
									<a href="tourbookingdetail.html"><img src="/assets/images/destination/img-05.jpg" alt="image description"></a>
									<figcaption>
										<h2><a href="tourbookingdetail.html">CHAMONIX</a></h2>
										<div class="tg-description">

										</div>
									</figcaption>
								</figure>
								<figure>
									<a href="tourbookingdetail.html"><img src="/assets/images/destination/img-06.jpg" alt="image description"></a>
									<figcaption>
										<h2><a href="tourbookingdetail.html">LES ARCS</a></h2>
										<div class="tg-description">

										</div>
									</figcaption>
								</figure>
							</div>
							<div class="item tg-destination">
								<figure>
									<a href="javascript:void(0);"><img src="/assets/images/destination/img-07.jpg" alt="image description"></a>
									<figcaption>
										<h2><a href="javascript:void(0);">LES 2ALPES</a></h2>
										<div class="tg-description">

										</div>
									</figcaption>
								</figure>
							</div>
							<div class="item tg-destination">
								<figure>
									<a href="javascript:void(0);"><img src="/assets/images/destination/img-04.jpg" alt="image description"></a>
									<figcaption>
										<h2><a href="javascript:void(0);">LES MENUIRES</a></h2>
										<div class="tg-description">

										</div>
									</figcaption>
								</figure>
							</div>
							<div class="item tg-destination">
								<figure>
									<a href="javascript:void(0);"><img src="/assets/images/destination/img-05.jpg" alt="image description"></a>
									<figcaption>
										<h2><a href="javascript:void(0);">LES ARCS</a></h2>
										<div class="tg-description">

										</div>
									</figcaption>
								</figure>
								<figure>
									<a href="javascript:void(0);"><img src="/assets/images/destination/img-06.jpg" alt="image description"></a>
									<figcaption>
										<h2><a href="javascript:void(0);">LYON</a></h2>
										<div class="tg-description">

										</div>
									</figcaption>
								</figure>
							</div>
							<div class="item tg-destination">
								<figure>
									<a href="javascript:void(0);"><img src="/assets/images/destination/img-07.jpg" alt="image description"></a>
									<figcaption>
										<h2><a href="javascript:void(0);">VALMOREL</a></h2>
										<div class="tg-description">

										</div>
									</figcaption>
								</figure>
							</div>
						</div>
					</div>
				</div>
			</section>

			<!--Call To Action Start-->
			<section class="tg-parallax" data-appear-top-offset="600" data-parallax="scroll" data-image-src="/assets/images/parallax/bgparallax-02.jpg">
				<div class="tg-sectionspace tg-haslayout">
					<div class="container">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<div class="tg-calltoaction">
									<div class="tg-pattern"><img src="/assets/images/patternw.png" alt="image destination"></div>
									<h2>EN QUETE DE NOUVELLE DESTINATIONS DE REVE ?</h2>
									<div class="tg-description"><p>Rejoignez-nous sur 228TRANSFERS</p></div>
									<a class="tg-btn" href="javascript:void(0);"><span>Découvrez nos destinations</span></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<!--Our Partners Start-->
			<section class="tg-parallax" data-appear-top-offset="600" data-parallax="scroll" data-image-src="/assets/images/parallax/bgparallax-03.jpg">
				<div class="tg-sectionspace tg-haslayout">
					<div class="container">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<div class="tg-ourpartners">
									<div class="tg-pattern"><img src="/assets/images/patternw.png" alt="image destination"></div>
									<h2>Nos partenaires</h2>
									<ul class="tg-partners">
										<li><figure><a href="javascript:void(0);"><img src="/assets/images/partners/img-01.png" alt="image destinations"></a></figure></li>
										<li><figure><a href="javascript:void(0);"><img src="/assets/images/partners/img-02.png" alt="image destinations"></a></figure></li>
										<li><figure><a href="javascript:void(0);"><img src="/assets/images/partners/img-03.png" alt="image destinations"></a></figure></li>
										<li><figure><a href="javascript:void(0);"><img src="/assets/images/partners/img-04.png" alt="image destinations"></a></figure></li>
										<li><figure><a href="javascript:void(0);"><img src="/assets/images/partners/img-05.png" alt="image destinations"></a></figure></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>

		<!--Footer Start-->
    <app-footer></app-footer>
	</div>
	<!--Search Start-->
	<div id="tg-search" class="tg-search">
		<button type="button" class="close"><i class="icon-cross"></i></button>
		<form>
			<fieldset>
				<div class="form-group">
					<input type="search" name="search" class="form-control" value="" placeholder="search here">
					<button type="submit" class="tg-btn"><span class="icon-search2"></span></button>
				</div>
			</fieldset>
		</form>
	</div>
</body>
